*::after
*::before
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

html{
    font-size: 10px;
}

body,
textarea,
textarea::placeholder,
input,
input::placeholder
{
    font-family: Gentium Plus, sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.pageHeader{
    display: flex;
    padding: 10px 25px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 5px 15px 1px rgb(238, 160, 160);
}

.pageNav{
    display: flex;
    gap: 25px;
}

.pageNav > li > a{
    font-size: 1.6rem;
    color: rgb(50, 50, 50);
}

.logo{
    font-size: 4.2rem;
    color: rgb(66, 66, 157);
}

.hamburger{
    font-size: 4.2rem;
    cursor: pointer;
    display: none;
}

.closeMenu{
    font-size: 3rem;
    display: none;
    cursor: pointer;
}


/* .noteWrapper{
    border: 2px solid red;
} */


.noteFormBtn{
    position: fixed;
    top: 35%;
    right: 0;
    background-color: rgb(252, 25, 97);
    color: white;
    font-size: 24px;
    padding: 5px;
    height: 60px;
    line-height: 60px;
    border-radius: 10px 0 0 10px;
    box-shadow: -2px 5px 12px 1px rgb(219, 219, 219);
    cursor: pointer;
    transition: 0.5s;
}

.noteFormBtn.hover {
    background-color: rgb(203, 7, 69);

}

.noteForm {
    position: fixed;
    border: 2px solid black;
    right: 0;
    top: 45%;
    transform: translateX(400px);
    padding: 12px;
    text-align: center;
    



}

.noteForm > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;

}

.noteForm input,
.noteForm textarea {
    border: none;
    background-color: rgb(202, 196, 196);
    padding: 6px 7px;
    box-shadow: 0px 4px 8px 1px rgb(207, 207, 207);
    resize: none;

}


.noteForm button {
    background-color: rgb(203, 7, 69);
    border: none;
    padding: 6px 7px;
    border-radius: 8px;
    cursor: pointer;
}

.card {
    box-shadow: 0px 5px 15px 1px rgb(207, 207, 207);
    width: 250px;
    min-height: 150px;
    padding: 15px;
    background-color: #efefef;

}

.card > h3 {
    font-size: 1.8rem;
    margin-bottom: 8px;
}

.card > p {
    font-size: 1.4rem;

}


.noteWrapper {
    display: flex;
    gap: 25px;
    padding: 25px;
    flex-wrap: wrap;
}

.card i {
    font-size: 10px;
}

@media (max-width:768px){

    .closeMenu{
        display: none;
    }
    .pageNav{
        position: fixed;
        top: 0%;
        left: 0;
        flex-direction: column;
        background-color: #fff;
        width: 275px;
        box-shadow: 0px 5px 15px 1px rgb(238, 160, 160);
        min-height: 100vh;
        padding: 25px;
        transform: translateX(-400px);
        transition: 0.4s;
    }
  
    .hamburger{
        display: block;

    }
}


.weatherModal{
    background-color: red;
    position: fixed;
    height: 95%;
    width: 95%;
    top: 2.5%;
    left: 2.5%;
    background-image: url(./background.jpg);
    background-size:cover;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    
}

.closeModal{
    position: absolute;
    cursor: pointer;
    left: 15px;
    top: 15px;
    
}


.hideModal{
    opacity: 0;
    z-index: -1;
}



   
.weatherBox{
    background-color: grey;
    width: 130px

}

.box{
    display: flex;
    justify-content:left;
    gap: 10px;
   
}

.weatherBox{
    background-color: grey;
    width: 130px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
      
}

.weatherModal h2{
    margin:0;
    color: #efefef;
    font-size: 3rem;
    padding: 0;
    
}



.menuOn,
.formOn
{
    transform: translateX(0);
}